<!DOCTYPE HTML>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn


	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Persona</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="stylesheets/main.css">
		<noscript><link rel="stylesheet" href="stylesheets/noscript.css" /></noscript>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Single+Day&display=swap" rel="stylesheet">
        <script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>

	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<img src="images/Persona 로고.png" id="logoImg">
						<a href="/" class="logo"><strong>Persona</strong></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="/">메인 페이지</a></li>
							<li><a href="landing.html">마이 페이지</a></li>
							<li><a href="/board.html">게시판</a></li>
							
						</ul>
						<ul class="actions stacked">
			
							<li><a href="/login" class="button fit">로그아웃</a></li>
						</ul>
					</nav>

				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1>성향 테스트</h1>
							</header>
							<div class="content">
								<p>다양한 종류의 성향테스트를 진행하고 주변 사람과 공유해 보세요!</p>
								<ul class="actions">
									<li><a href="#one" class="button next scrolly">Get Started</a></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">
						<!-- One -->
							<section id="one" class="tiles">
								<article>
									<span class="image">
										<img src="https://cdn.pixabay.com/photo/2017/08/03/21/48/drinks-2578446_960_720.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="/test_a" class="link">술, 커피 테스트</a></h3>
										<p>임시용 테스트 술,커피 선택입니다</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="https://cdn.pixabay.com/photo/2015/06/19/21/24/avenue-815297_960_720.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="/test_b" class="link">숲속 테스트</a></h3>
										<p>숲속을 걷고있는데 갑자기 동물이 튀어나왔다</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="https://cdn.pixabay.com/photo/2015/08/16/12/03/sandwich-890823_960_720.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="/test_c" class="link">샌드위치 테스트</a></h3>
										<p>샌드위치 테스트</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="https://cdn.pixabay.com/photo/2016/09/02/18/13/jeep-1639961_960_720.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="/test_d" class="link">무인도에 조난되었다</a></h3>
										<p>무인도 테스트</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="https://cdn.pixabay.com/photo/2014/11/27/22/44/gift-548296_960_720.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="/test_e" class="link">당신이 받은 생일 선물은?</a></h3>
										<p>생일 선물로 알아보는 연애 심리테스트</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="https://cdn.pixabay.com/photo/2014/07/31/22/50/photographer-407068_960_720.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="/test_f" class="link">여행지에서 첫 사진</a></h3>
										<p>사진으로 보는 성격유형</p>
									</header>
								</article>
							</section>

				

					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
								<li><a id="kakao-link-btn" href="javascript:sendLink()">
									<img src="//developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png"/>
								</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="javascripts/jquery/jquery.min.js"></script>
			<script src="javascripts/jquery/jquery.scrolly.min.js"></script>
			<script src="javascripts/jquery/jquery.scrollex.min.js"></script>
			<script src="javascripts/home/browser.min.js"></script>
			<script src="javascripts/home/breakpoints.min.js"></script>
			<script src="javascripts/home/util.js"></script>
			<script src="javascripts/home/main.js"></script>
			<script src="/javascripts/home/kakao.js"></script>

	</body>
</html>